/*==rANDI==*/
	/*=Test Page=*/
	#ANDI508-testPage.rANDI508-testPage .ANDI508-element.ANDI508-highlight.ANDI508-element-danger
		{border:3px dashed #dd2f2f !important; outline:0 !important; animation:pulse_rANDI_danger 3s linear infinite !important;}
		@keyframes pulse_rANDI_danger{
			50% {border-color:#ef7200 !important;}
		}
	#ANDI508-testPage.rANDI508-testPage .ANDI508-element.ANDI508-highlight
		{border:1.5px dashed #9b8acf !important; outline:0 !important; animation:pulse_rANDI 3s linear infinite !important;}
		@keyframes pulse_rANDI{
			50% {border-color:#604f94 !important;}
		}
	#ANDI508-testPage.rANDI508-testPage .ANDI508-element.ANDI508-highlight.ANDI508-element-active
		{outline:4px solid deeppink !important;}
